.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 25%;
    border: 1px dotted peachpuff;
    padding: 1 em;
    margin: 0.5 em;
    text-align: center;
}

header {
    text-align: center;
    padding-bottom: 1em;
}